// COLORS
$primary: #ffd50f;
$secondary: #000;
$success: #84CE6A;
$bg-color: #F0F4F7;
$blue: #044877;
$blue-dark: #1E3259;
$blue-light: #67CBEB;
$purple: #48055b;
$orange: #EDA51F;
$green: #84CE6A;
$white: #FFF;
$black: #000;
$gray-dark: #101010;
$gray-md: #252325;
$gray-light: #ccc;
$pink: #FFD0CF;
$red: #a70808;
$yellow: #ffd50f;
$yellow-light: #FFEBD2;
$gold: #F1A026;
$soft: #F6F8F9;
$body-bg: $soft;

// FONTS
$roboto: 'Roboto';
$montserrat: 'Montserrat', sans-serif;
$font-default: $montserrat;
$font-base-size: '16px';
$line-base-line-height: '1.2em';